* {
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 400;
}

h1 {
    margin-right: 25px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 70px;
    color: #F2C230;
}